{{#> public-page-layout pageTitle="Something went wrong" siteName=siteName siteUrl=siteUrl}}
  {{#*inline "content"}}
      <h1>Something went wrong</h1>
      <p>{{errorMessage}}</p>
  {{/inline}}
{{/public-page-layout}}