{{#> public-page-layout pageTitle="Unsubscribed" siteName=siteName siteUrl=siteUrl}}
  {{#*inline "content"}}
      <h1>You've been unsubscribed</h1>
      <p>You won't receive any more emails from {{siteName}}. If you change your mind, you can subscribe again from the website.</p>
  {{/inline}}
{{/public-page-layout}}