{{#> public-page-layout pageTitle="You're subscribed!" siteName=siteName siteUrl=siteUrl}}
  {{#*inline "content"}}
      <h1>You're subscribed!</h1>
      <p>Your email has been verified. You'll receive an email when new content is published.</p>
  {{/inline}}
{{/public-page-layout}}