<!DOCTYPE html>
<html lang="en">
<head>
  {{> admin-head}}
  <title>{{pageTitle}} — feedmail admin</title>
</head>
<body>
  {{> admin-nav activePage=activePage}}
  <main class="container">
    {{> content}}
  </main>
  <script src="/admin/htmx.min.js"></script>
</body>
</html>