<!DOCTYPE html>
<html lang="en">
<head>
  {{> admin-head}}
  <title>{{pageTitle}} — feedmail admin</title>
</head>
<body>
  <main class="container">
    <article>
      <header>
        <strong>feedmail</strong>
      </header>
      {{> content}}
    </article>
  </main>
</body>
</html>